{% extends 'CibumConcursoBundle::layout.html.twig' %}

{% block content %}

    <h3> {{ proyecto.nombre }}</h3>

    <div class="row-fluid">
        <div class="span7">
            <div class="row-fluid">
                <div class="span8">
                    <dl id="info">
                        <dt>Descripci칩n</dt>
                        <dd>{{ proyecto.descripcion }}</dd>
                        <dt>C칩digo SNIP</dt>
                        <dd><span id="snip"> {{ proyecto.snip }}</span>
                            <a href="http://ofi.mef.gob.pe/bp/ConsultarPIP/frmConsultarPIP.asp?accion=consultar&txtCodigo={{ proyecto.snip }}"
                               target="_blank" class="btn btn-info">
                                Ver m치s
                            </a>

                        </dd>
                        </form>
                        <dt>C칩digo SIAF</dt>
                        <dd>{{ proyecto.siaf }}</dd>
                    </dl>
                </div>
                <div class="span4">
                    <div class="progress">
                        <div class="bar bar-success" style="width: {{ perup }}%;"></div>
                        <div class="bar bar-danger" style="width: {{ perdown }}%;"></div>
                    </div>
                    {{ tsup }} me gusta, {{ tsdown }} no me gusta
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    <div class="btn-group" id="vote-btns">
                        <button data-vote="1" type="button" class="btn" data-url="{{ url('project_vote') }}">
                            <img src="/bundles/cibumconcurso/img/thumbsup.png" width="32px"/>
                        </button>
                        <button data-vote="0" type="button" class="btn" data-url="{{ url('project_vote') }}">
                            <img src="/bundles/cibumconcurso/img/thumbsdown.png" width="32px"/>
                        </button>
                    </div>
                </div>
                <div class="span9">
                    {% include 'CibumConcursoBundle:Project:buttons.html.twig' %}
                </div>
            </div>
        </div>
        <div class="span5">
            {% if is_granted('ROLE_USER') %}
                <h2>Envia un comentario</h2>
                <form action="{{ path('project_comment', {proyecto:proyecto.id}) }}"
                      method="post" {{ form_enctype(commentForm) }}>
                    {{ form_widget(commentForm) }}
                    <p>
                        <button class="btn" type="submit">Enviar</button>
                    </p>
                </form>
            {% endif %}
            <div>
                {% include 'CibumConcursoBundle:Comments:thread.html.twig' %}
            </div>
        </div>
    </div>




{% endblock %}

